[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A simple wrapper around elasticsearch-py client streaming_bulk() API with robust error handling
[access "refs/*"]
	owner = group user/Webb Scales (webbnh)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Webb Scales (webbnh)
	label-Verified = -1..+1 group user/Webb Scales (webbnh)
	push = group user/Webb Scales (webbnh)
	read = group user/Webb Scales (webbnh)
	rebase = group user/Webb Scales (webbnh)
	removeReviewer = group user/Webb Scales (webbnh)
	submit = group user/Webb Scales (webbnh)
[access "refs/heads/*"]
	create = group user/Webb Scales (webbnh)
	push = +force group user/Webb Scales (webbnh)
	pushMerge = group user/Webb Scales (webbnh)
	read = group user/Webb Scales (webbnh)
[access "refs/tags/*"]
	push = group user/Webb Scales (webbnh)
	push = +force group user/Webb Scales (webbnh)
